<% include partials/header %>
<div class="ui main text container">
    <h1 style="color: white"> Register for Hot Rod</h1>
    <form class="ui form" action="/register" method="POST" >
        <div class="field">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Password">
        </div>
        <button class="ui large blue button">Register!</button>
    </form>
</div>
<% include partials/footer %>